[Unit]
Description=Pacifica Wallet Explorer V2 Pending Remote Sync Timer

[Timer]
OnBootSec=2min
OnUnitInactiveSec=10min
Unit=pacifica-wallet-explorer-v2-pending-remote-sync.service

[Install]
WantedBy=timers.target
