[Unit]
Description=PacificaFlow Full Worker Stack
Wants=pacifica-ui-api.service
Wants=pacifica-repo-state-sync.timer
Wants=pacifica-storage-prune.timer
After=network-online.target

[Install]
WantedBy=multi-user.target
